<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with AI</title>
</head>
<body>
    <!-- <h1>Chat with AI</h1>
    <div>
        <form action="/get_response" method="post">
            <label for="user_input">Your message:</label>
            <input type="text" name="user_input" id="user_input">
            <input type="submit" value="Send">
        </form>
    </div>
    <div>
        <h2>AI Response:</h2>
        <p>{{ assistant_response }}</p> -->

        <h1>Random Dog Image!!</h1>
        <img src="{{ image_url }}" alt="Random Dog">
    
        <div>{{dog_gpt_query_response}}</div>
    </div>
</body>
</html>
